<html>
  <head>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body style='background-color:rgba(0,0,0,0.06)'>
    <div style='margin:30px 0; width: 100%;'>
      <a style='display:block; margin: 0 auto; width: 170px' href='https://www.dealsandservices.com'>
        <img style='width: 100%' src='https://dealsandservices.com/images/full-logo.png'/>
      </a>
    </div>
    <div style='background-color:white; max-width: 470px; margin:0 auto; padding: 30px 30px'>
      <div style='font-family: Open Sans; font-size: 18px; opacity: 0.7'>
        We came to know that you forgot your password. If you want to set your new password then, click on the below link and we will set that for you.
      </div>
      <a href="http://www.qa.dealsandservices.com/rest-password?token=<%= @token %>" style='text-decoration: none; display: block; background-color: #EA5D15; color: white; margin: 50px auto; text-align: center; border-radius: 3px; padding: 10px 10px; font-size: 16px; font-family: Open Sans; width: 200px'>Create new password</a>
      <div style='font-family: Open Sans; font-size: 18px; opacity: 0.7'>
        If you don’t want to reset your password then, you can ignore this email. your password won’t be change.
      </div>
    </div>
    <div style='margin:30px 0; width: 100%;'>
      <div style='margin: 0 auto; text-align: center; color: #aaa; font-family: Open Sans; font-size: 13px;'>&copy; Copyright 2018 DealsAndServices. All rights reserved.</div>
      <div style='text-align: center; margin: 30px auto'>
        <a href='/facebook.com/dealsandservices' style='display:inline-block; margin: 0 10px; width: 20px;'>
          <img src='http://qa.dealsandservices.com/img/social-icons/facebook.png' style='width: 100%'/>
        </a>
        <a href='/facebook.com/dealsandservices' style='display:inline-block; margin: 0 10px; width: 20px'>
          <img src='http://qa.dealsandservices.com/img/social-icons/twitter.png' style='width: 100%'/>
        </a>
        <a href='/facebook.com/dealsandservices' style='display:inline-block; margin: 0 10px; width: 20px'>
          <img src='http://qa.dealsandservices.com/img/social-icons/linkedin.png' style='width: 100%'/>
        </a>
        <a href='/facebook.com/dealsandservices' style='display:inline-block; margin: 0 10px; width: 20px'>
          <img src='http://qa.dealsandservices.com/img/social-icons/instagram.png' style='width: 100%'/>
        </a>
      </div>
    </div>
  </body>
</html>